.familyimageContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(15, 15, 15);
  }
  
  .familylogo_image {
    height: 300px;
    margin-left: 30px;
    margin-bottom: 80px;
    margin-right: 50px;
  }
  
  .familyimage {
    height: 200px;
    border-radius: 25px;
    /*box-shadow: 0px 0px 20px 0px rgb(235, 5, 5);*/
    transform: scale(1);
    animation: pulse-red 4s infinite;
  }

  @media only screen and (max-width: 768px) {

    .familyimageContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 200px;
        width: -60px;
        margin-top: 50px;
        margin-left: -52px;
        margin-bottom: 50px;
        background-color: rgb(15, 15, 15);
      }
    .familylogo_image {
        height: 0px;
        width: 0px;
      }
      .familyimage {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
        border-radius: 25px;
        /*box-shadow: 0px 0px 20px 0px rgb(235, 5, 5);*/
        transform: scale(1);
        animation: pulse-red 4s infinite;
      }

  
  @keyframes pulse-red {
    0% {
      transform: scale(1);
      box-shadow: 0px 0px 20px 0px rgb(203, 105, 255);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0px 0px 10px 0px rgba(12, 237, 132, 0.7);
    }
    
    100% {
      transform: scale(1);
      box-shadow: 0px 0px 20px 0px rgb(19, 150, 211);
    }
  }
}