.imageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(16, 16, 22);
}

.logo_image {
  height: 300px;
  margin-left: 30px;
  margin-bottom: 80px;
  margin-right: 50px;
}

.image {
  height: 200px;
  border-radius: 25px;
  /*box-shadow: 0px 0px 20px 0px rgb(235, 5, 5);*/
  transform: scale(1);
  animation: pulse-marvel 2s infinite;
}

@keyframes pulse-marvel {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 20px 0px rgb(255, 82, 82, 1);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0px 0px 10px 0px rgb(255, 82, 82, 0.7);
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 20px 0px rgb(255, 82, 82, 1);
  }
}