@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);


.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.cart,
.support {
 display: flex;
 height: 90vh;
 align-items: center;
 justify-content: center;
 font-size: 3rem;
}